
@{
    Layout = null;
}

@using System.Data;
<!DOCTYPE html>
<html>
<head>

    <meta content="initial-scale=1, maximum-scale=1,
		user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <!-- Datatable plugin CSS file -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

    <!-- jQuery library file -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- Datatable plugin JS library file -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
</head>

<body>
    <!--HTML table with student data-->
    <table id="tableID" class="display" style="width:100%">
        <thead>
            <tr>

                <th>ProductId</th>
                <th>ProductName</th>
                <th>CategoryId</th>
                <th>CategoryId</th>

            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Tables["category_list"].Rows)
            {
                <tr>
                    <th>@dr["ProductID"]</th>
                    <th>@dr["ProductName"]</th>
                    <th>@dr["category name"]</th>
                    <th>@dr["categ id"]</th>
                </tr>
            }
        </tbody>
    </table>

    <script>

        /* Initialization of datatable */
        $(document).ready(function () {
            $('#tableID').DataTable({});
        });
    </script>
</body>

</html>
